{% extends "shop/base.html" %}

{% block title %}
Checkout
{% endblock %}

{% block content %}
    <h1>订单</h1>
    
    <div class="order-info">
        <h3>你的订单</h3>
        <ul>
            {% for item in cart %}
            <li>
                {{ item.quantity }}x {{ item.product.name }}
                <span>￥{{ item.total_price }}</span>
            </li>
            {% endfor %}
        </ul>
    <p>总价: ￥{{ cart.get_total_price }}</p>
</div>

<form action="." method="post" class="order-form">


    <p><label style="color:#fff" for="id_first_name">名字:</label> <input id="id_first_name" maxlength="50" name="first_name" type="text"></p>
    <p><label style="color:#fff" for="id_last_name">姓:</label> <input id="id_last_name" maxlength="50" name="last_name" type="text"></p>
    <p><label style="color:#fff" for="id_email">电子邮箱:</label> <input id="id_email" maxlength="254" name="email" type="email"></p>
    <p><label style="color:#fff" for="id_address">地址:</label> <input id="id_address" maxlength="250" name="address" type="text"></p>
    <p><label style="color:#fff" for="id_postal_code">邮编:</label> <input id="id_postal_code" maxlength="20" name="postal_code" type="text"></p>
    <p><label style="color:#fff" for="id_city">城市:</label> <input id="id_city" maxlength="100" name="city" type="text"></p>
    <p><input type="submit" value="提交"></p>
    {% csrf_token %}
</form>
{% endblock %}