{% extends "base.html" %}
{% block title %}Create an account{% endblock %}
{% block content %}
  <h1>注册</h1>
  <p>请填写以下信息:</p>
  <form action="." method="post">
    <p><label style="color:#fff" for="id_username">用户名:</label> <input id="id_username" maxlength="30" name="username" type="text"> <span class="helptext">至少30个符号，只允许字母、数值以及@/./+/-/_ 。</span></p>
    <p><label style="color:#fff" for="id_first_name">名字:</label> <input id="id_first_name" maxlength="30" name="first_name" type="text"></p>
    <p><label style="color:#fff" for="id_email">电子邮箱:</label> <input id="id_email" maxlength="254" name="email" type="email"></p>
    <p><label style="color:#fff" for="id_password">密码:</label> <input id="id_password" name="password" type="password"></p>
    <p><label style="color:#fff" for="id_password2">重复密码:</label> <input id="id_password2" name="password2" type="password"></p>
    {% csrf_token %}
    <p><input type="submit" value="登录"></p>
  </form>
  <p>已有账号? <a href="{% url "login" %}">点击登录</a></p>
{% endblock %}